  akhq:
    image: tchiotludo/akhq:latest
    container_name: akhq
    depends_on:
      schema-registry:
        condition: service_healthy
    platform: linux/amd64
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: "kafka1:9092"
              schema-registry:
                url: "http://schema-registry:8081"
              connect:
                - name: "connect"
                  url: "http://connect:8083"
    ports:
      - '9090:8080'
