  directstream:
    image: streambased/directstream:overlay-demo
    hostname: directstream
    container_name: directstream
    platform: linux/amd64
    restart: on-failure
    volumes:
      - "./directstream/etc/directstream.properties:/app/etc/directstream.properties"
      - "./directstream/etc/logback.xml:/app/etc/logback.xml"
    ports:
      - 11000:11000
      - 11001:11001
    environment:
      - AWS_REGION=us-east-1

  hyperstream:
    #image: local/hyperstream:latest
    image: streambased/hyperstream:latest
    container_name: hyperstream
    platform: linux/amd64
    ports:
      - 9088:9088
    environment:
      - SPARK_CONNECT_URL=sc://spark-iceberg:15002
      - COLD_SET_SCHEMA=direct.coldset
      - HOT_SET_SCHEMA=isk.hotset
      - UNIFIED_SET_SCHEMA=isk.merged

  streambased-ui:
    image: streambased/ui:overlay-demo
    container_name: streambased-ui
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DEMO_MODE=true
      - AUTH_SECRET=""
      - HYPERSTREAM_BASE_URL=http://hyperstream:9088
      - OPENAI_API_KEY=ignored
      - OPEN_AI_MODEL=gpt-4o-mini

  ksi:
    #image: local/ksi:latest
    image: streambased/ksi:latest
    hostname: ksi
    container_name: ksi
    depends_on:
      schema-registry:
        condition: service_healthy
      rest:
        condition: service_started
    ports:
      - "9192:9192"
    environment:
      - KROXYLICIOUS_CONFIG=/opt/kroxylicious/config.yaml
      - KROXYLICIOUS_APP_LOG_LEVEL=TRACE
      - KROXYLICIOUS_LOGGING_OPTIONS=-Dlog4j2.configurationFile=/opt/kroxylicious/config/log4j2.yaml ${KROXYLICIOUS_JAVA_OPTS}
      - KSI_BOOTSTRAP_SERVERS=kafka1:9092
      - KSI_GATEWAY_BOOTSTRAP_ADDRESS=ksi:9192
      - KSI_COLD_STORAGE_TYPE=spark-connect
      - KSI_MAX_COLD_STORAGE_RECORDS_PER_FETCH=1000
      - KSI_COLD_STORAGE_TIMEOUT_MS=30000
      - KSI_ALWAYS_RETURN_MINUS_ONE_START_OFFSET=true
      - KSI_ICEBERG_NAMESPACE=coldset
      - KSI_SPARK_CONNECT_URL=sc://spark-iceberg:15002
      - KSI_SPARK_CATALOG_NAME=direct
      - KSI_OFFSET_RANGE_CACHE_TTL_MS=300000
      - KSI_OFFSET_RANGE_CACHE_REFRESH_MS=60000
      - KSI_SCHEMA_REGISTRY_URL=http://schema-registry:8081
    command: [ "-c", "/opt/kroxylicious/config.yaml" ]
